<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- NOTE: These do not auto complete. Is that a feature request for XR? -->
    <uses-permission android:name="android.permission.SCENE_UNDERSTANDING" />
    <uses-permission android:name="android.permission.HAND_TRACKING" />

    <uses-sdk tools:overrideLibrary="androidx.xr.scenecore, androidx.xr.compose, androidx.xr.compose.material3"/>

    <application
        android:name=".XRPlaygroundApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme">

        <activity
            android:name="com.adammcneilly.xrplayground.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <property
                android:name="android.window.PROPERTY_XR_ACTIVITY_START_MODE"
                android:value="XR_ACTIVITY_START_MODE_FULL_SPACE_MANAGED" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>